@import '../../../../styles/mixins';
@import '../../../../styles/configs';

.avatar {
  border-radius: 50%;
  overflow: hidden;
  cursor: default;
  @include center;

  &--with-border {
    transition: border-color $anim-time-fast;
    border: 2px solid var(--borderPrimary);

    &:hover {
      border-color: var(--borderDark);
    }
  }

  &--with-click {
    cursor: pointer;
  }

  &--xs {
    min-height: 36px;
    min-width: 36px;
    height: 36px;
    width: 36px;
  }

  &--sm {
    min-height: 80px;
    min-width: 80px;
    height: 80px;
    width: 80px;
  }

  &--lg {
    min-height: 100px;
    min-width: 100px;
    width: 100px;
    height: 100px;
  }
}
