@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.textarea {
  position: relative;
  height: 100%;

  textarea {
    -webkit-appearance: none;
    background-color: var(--bgPrimary);
    border-radius: $border-radius;
    transition: border-color $anim-time-fast, background-color $anim-time-fast,
      opacity $anim-time;
    min-height: 130px;
    box-shadow: none;
    padding: 16px;
    outline: none;
    display: block;
    border: 1px solid var(--borderPrimary);
    height: 100%;
    width: 100%;
    color: var(--onPrimary);

    &::placeholder {
      color: var(--textHint);
    }

    &:focus {
      border-color: var(--thirdy);
      box-shadow: none;
    }

    &:read-only {
      border: 1px solid var(--borderPrimary);
    }
  }

  &--error {
    textarea {
      border-color: var(--error);
    }
  }

  &--disable-border {
    textarea {
      background-color: transparent;
      padding-top: 8px;
      border: 0;
    }
  }

  &__length-block {
    position: absolute;
    bottom: -20px;

    &--side-right {
      right: 0;
    }

    &--side-left {
      left: 0;
    }
  }
}
