@import '../../../../../styles/configs';
@import '../../../../../styles/mixins';

.modal-header {
  min-height: 48px;
  padding: 1.5rem 48px 0 1.5rem;

  &__close-btn {
    transition: color $anim-time;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    right: 12px;
    top: 12px;

    &:hover {
      color: var(--textDark);
    }
  }

  &__title {
    margin-bottom: 24px;
  }
}
