@import './configs';

#root {
  min-width: 360px;
  height: 100%;
}

.app {
  position: relative;
}

.img-cover {
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: auto;
}

.img-contain {
  object-fit: contain;
  max-width: 100%;
  display: block;
  height: auto;
}

.show {
  animation: show 0.5s 0.6s both;
  opacity: 0;
}

.mount {
  animation: mount $anim-time;
}
