@import '../../../../styles/configs';

.link-button {
  justify-content: center;
  text-decoration: none;
  border-radius: $border-radius;
  align-items: center;
  line-height: 1;
  transition: opacity $anim-time-fast, background-color $anim-time-fast,
    border-color $anim-time-fast, color $anim-time-fast;
  min-height: inherit;
  font-size: inherit;
  display: inline-flex;
  padding: 0 16px;
  height: 100%;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  &:active {
    opacity: 0.75;
  }

  &--color-secondary {
    background-color: var(--secondary);
    color: var(--secondaryContrastText);

    &.link-button--variant-outlined {
      background-color: transparent;
      border: 2px solid var(--secondary);
      color: var(--secondary);

      &:hover {
        background-color: var(--secondary);
        color: var(--secondaryContrastText);
      }
    }

    &.link-button--variant-contained {
      background-color: var(--secondary);
      box-shadow: $box-shadow-light;
      color: var(--secondaryContrastText);

      &:hover {
        background-color: var(--secondaryDark);
      }
    }
  }

  &--padding-xs {
    padding: 0 16px;
  }

  &--padding-sm {
    padding: 0 24px;
  }

  &--padding-md {
    padding: 0 32px;
  }

  &--padding-lg {
    padding: 0 40px;
  }

  &--font-weight-bold {
    font-weight: 700;
  }

  &--font-weight-default {
    font-weight: initial;
  }
}
