.auth-header {
  position: absolute;
  padding: 0 24px;
  height: 60px;
  width: 100%;
  left: 0;
  top: 0;

  &__content {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
  }
}
