/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
@import '../../../../styles/configs';

.input-phone {
  min-height: inherit;

  .phone-input-container {
    .form-control + div::before {
      display: none;
    }
  }

  .react-tel-input {
    min-height: inherit;

    .country-list {
      animation: mount $anim-time;
      margin-top: 2px;
      width: 100%;
      right: 0;
      left: 0;
      top: 112%;
    }

    .form-control {
      background-color: var(--bgPrimary);
      border-radius: $border-radius;
      padding-left: 64px;
      min-height: inherit;
      padding: 0 16px 0 58px;
      border: 1px solid var(--borderPrimary);
      height: initial;
      width: 100%;

      &::placeholder {
        color: var(--textHint);
      }

      &:hover {
        border-color: var(--borderPrimary);
      }

      &:focus {
        border-color: var(--thirdy);
        box-shadow: none;
      }
    }

    .flag-dropdown {
      position: static;
    }

    .form-control + div::before {
      display: none;
    }

    .selected-flag .arrow {
      background-size: contain;
      // background: url('/images/icons/png/select-arrow@2x.png') no-repeat;
      border: 0;
      height: 6px;
      width: 9px;
      left: 32px;
    }

    .selected-flag .arrow.up {
      border: 0;
    }

    .selected-flag {
      position: static;
    }
  }
}
