html[data-theme='light'] {
  --primaryDark: #f2f2f2;
  --primary: #fff;

  --onPrimary: #252729;

  --secondaryContrastText: #fff;
  --secondaryLight: #ff5773;
  --secondaryDark: #f03f5d;
  --secondary: #ff3e5f;

  --thirdyContrastText: #fff;
  --thirdyLight: #a5b2e5;
  --thirdyDark: #5c6cab;
  --thirdy: #7387d6;

  --fourtyContrastText: #fff;
  --fourtyLight: #8e5bd6;
  --fourtyDark: #639;
  --fourty: #804bbc;

  --errorLight: #ff5773;
  --error: #ff3e5f;

  --validLight: #50b780;
  --valid: #39a36a;

  --warning: #ff8a00;

  --bgSecondary: #fff;
  --bgPrimary: #fbfbfb;

  --iconPrimary: #808080;

  --borderPrimary: #e2e2e2;
  --borderDark: #bababa;

  --textPrimaryDark: #3b3b3b;
  --textSecondary: #ff5773;
  --textPrimary: #404040;
  --textThirdy: #7ab9de;
  --textLight: #707070;
  --textDark: #000;
  --textHint: #bababa;

  --shadowColorSecondary: rgba(0, 0, 0, 0.2);
  --shadowColorPrimary: rgba(0, 0, 0, 0.16);
}
